.weather {
    position: absolute;
    top: 15.5rem;
    right: 0rem;

    max-height: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border: 0.5rem solid #4267b2;
    border-radius: 2rem;
}

.weather-conditions {
    display: flex;
    flex-flow: column;
    align-items: center;
}